@import '~normalize.css';

body {
  /* TODO: add BlinkMacSystemFont back in when Chrome 83 comes out */
  font-family: 'Inter', -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
